In [1]:
list1=[10,20.1,"abc",20]
list1[-1]

20

In [2]:
list1.append("xyz")

In [3]:
list1

[10, 20.1, 'abc', 20, 'xyz']

In [4]:
list1.insert(3,45)

In [6]:
list1

[10, 20.1, 'abc', 45, 20, 'xyz']

In [7]:
len(list1)

6

In [8]:
list1.pop()

'xyz'

In [8]:
list1.remove(20)

In [9]:
list1[3]=566
list1

[10, 20.1, 'abc', 566]

In [11]:
list1.append([34,35,36])

In [12]:
list1

[10, 20.1, 'abc', 566, [34, 35, 36]]

In [13]:
list1.extend([101,102,103])
list1

[10, 20.1, 'abc', 566, [34, 35, 36], 101, 102, 103]

In [14]:
list1.remove(10)

In [15]:
list1.reverse()

In [18]:
list1.remove([34,35,36])

In [20]:
dict={1:"abc",2:"xyz",3:"mnp",4:"efg"}

In [21]:
dict

{1: 'abc', 2: 'xyz', 3: 'mnp', 4: 'efg'}

In [22]:
dict[1]

'abc'

In [23]:
len(dict)

4

In [24]:
dict.keys()

dict_keys([1, 2, 3, 4])

In [25]:
dict.values()

dict_values(['abc', 'xyz', 'mnp', 'efg'])

In [26]:
dict.items()

dict_items([(1, 'abc'), (2, 'xyz'), (3, 'mnp'), (4, 'efg')])

In [28]:
dict.update({5:"iop"})

In [29]:
dict[7]="kol"

In [30]:
dict

{1: 'abc', 2: 'xyz', 3: 'mnp', 4: 'efg', 5: 'iop', 7: 'kol'}

In [31]:
##List Comprehension

l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

matrix=[l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
#building a list comprehension by deconstructing a for loop within a []
firstcol=[i[0] for i in matrix]
firstcol

[1, 4, 7]

In [36]:
allcol=[row[1:] for row in matrix]
allcol

[[2, 3], [5, 6], [8, 9]]

In [37]:
print(range(10))

range(0, 10)

In [39]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [42]:
print(list(range(2,9,2)))

[2, 4, 6, 8]

In [43]:
k=[1,2,3,4,5]
for i in range(len(k)):
    print(k[i])

1
2
3
4
5

In [44]:
len(k)

5

In [46]:
def fuct(a,b):
    c=a+b
    print(c)
fuct(4,5)

9

In [48]:
def funct(name):
    print("hello %s" %name)
funct("lok")

hello lok

In [49]:
def funct2(c,d):
    return c+d
funct2(6,7)

13

In [2]:
def prime(num):
    for n in range(2,num):
        if num%n==0:
            print("not prime")
            break
    else:
        print("prime")
        
prime(11)

prime

In [5]:
import math
def prime(num):
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
    return True
    
prime(7)

True

In [6]:
def multiple(*args):
    for i in args:
        print(i)
multiple(2,3,4,5,6)

2
3
4
5
6

In [11]:
dict={1:"lok",2:"singh",3:"sis"}

In [15]:
def tin(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [17]:
tin(name=[1,2],surname=["lok","singh"])

name [1, 2]
surname ['lok', 'singh']

In [21]:
s=lambda y : y + 30
print(s(5))

35

In [22]:
k=lambda k:k +30
k(5)

35

In [23]:
x=lambda a,b,c:a+b+c
x(3,4,5)

12

In [24]:
x=lambda a,b:a+b
x(3,7)

10

In [25]:
a=[2,3,5]
b=[4,5,6]
c=[6,7,8]
list(map(lambda x,y:x+y,a,b))

[6, 8, 11]

In [26]:
d=lambda a,b:a+b
print(d(4,7))

11

In [27]:
a=[4,5,6]
b=[8,9,12]
c=[11,12,13]
list(map(lambda x,y:x+y,a,b))

[12, 14, 18]

In [36]:
def far(T):
    return ((float(9)/5)*T+32)
far(20)

68.0

In [37]:
hit=[10,20,30,40]
list(map(far,hit))

[50.0, 68.0, 86.0, 104.0]

In [42]:
list(map(lambda x : (5.0/9)*x + 32,hit))

[37.55555555555556, 43.111111111111114, 48.66666666666667, 54.22222222222222]

In [44]:
class Person:
    pass
joe=Person()
joe.name="Alex"
joe.surname="Singh"
joe.birth=1980

print(joe)
print("{},{} and {}".format(joe.name,joe.surname,joe.birth))

<__main__.Person object at 0x0000021BC3C319B0>
Alex,Singh and 1980

In [5]:
class per:
    def __init__(self, name, surname, birth):
        self.name = name
        self.surname = surname
        self.birth = birth
        
    def age(self,current_year):
        return current_year - self.birth
    
    def __str__(self):
        return "%s,%s and %d" % (self.name,self.surname,self.birth)
        
alex = per("lok", "singh", 1980) 
print(alex)
print(alex.age(2020))

lok,singh and 1980
40

In [1]:
import math
def prime(num):
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
    return True
prime(23)

True

In [14]:
class Student(per):
    def __init__(self,studentid,*args,**kwargs):
        super(Student,self).__init__(*args,**kwargs)
        self.studentid=studentid
chl=Student(2,"loke","singh",2000)
print(chl)

loke,singh and 2000

In [19]:
class Tyres:
    def __init__(self,branch,belted_bias,op_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.op_pressure=op_pressure
    
    def __str__(self):
        return ("Typres \n \tBranch" + self.branch +
                "\n \tbelted_bias" + str(self.belted_bias)+
                "\n \top_pressure" + str(self.op_pressure))
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    
    def __str__(self):
        return ("Engine \n \t" + self.fuel_type +
                "\n \tbelted_bias" + str(self.noise_level))
    
class Car:
    def __init__(self,typres,engine):
        self.typres=typres
        self.engine=engine
        
    def __str__(self):
        return (str(self.typres) + "\n" + str(self.engine))

t=Tyres("Pyril","True",3)
e=Engine("diesel",10)
c=Car(t,e)
print(c)

Typres
 	BranchPyril
 	belted_biasTrue
 	op_pressure3
Engine
 	diesel
 	belted_bias10

In [1]:
k="welcome"
k.upper()

'WELCOME'

In [2]:
k.lower()

'welcome'

In [3]:
k.swapcase()

'WELCOME'

In [4]:
k.split()

['welcome']

In [5]:
k.isdigit()

False

In [6]:
k.isalpha()

True

In [8]:
a="lok"
b="end"
c=a+b
print(c)

lokend

In [11]:
m="ok"
n="great"
print("{},{}".format(m,n))

ok,great

In [12]:
print("%s and %s" %(m,n))

ok and great

In [13]:
m="ok"
n="great"
print("{0},{1}".format(m,n))

ok,great

In [14]:
print("{1},{0}".format(m,n))

great,ok

In [2]:
def gio():
    for i in range(30):
        if i==15:
            return
        print(i,end=" ")
gio()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [4]:
def ad(*numbers):
    s=0
    for i in numbers:
        s+=i
    return s
k=ad(10,15)
print(k)

25

In [5]:
a=lambda x,y,z:x+y+z
print(a(10,15,25))

50

In [10]:
def temp(t):
    return ((float(9)/5)*t+32)

In [11]:
l=(temp(5))
print(l)

41.0

In [16]:
mlist=[1,2,3,4]
list(map(lambda x:x*15,mlist))

[15, 30, 45, 60]

In [17]:
list(map(lambda t:(float(9)/5)*t+31,mlist))

[32.8, 34.6, 36.4, 38.2]

In [19]:
c=list(map(temp,mlist))

In [20]:
l=[round(i,2) for i in c]
print(l)

[33.8, 35.6, 37.4, 39.2]

In [21]:
p= ["%.2f" % j for j in l]
print(p)

['33.80', '35.60', '37.40', '39.20']

In [1]:
#filter
ser=[4,2,5,6,7]
list(filter(lambda x:x>2,ser))

[4, 5, 6, 7]

In [2]:
even=lambda x:x%2==0
list(filter(even,range(11)))

[0, 2, 4, 6, 8, 10]

In [3]:
list(filter(lambda x:x%2==0,range(11)))

[0, 2, 4, 6, 8, 10]

In [4]:
k=[x for x in range(11) if x%2==0]
print(k)

[0, 2, 4, 6, 8, 10]

In [1]:
def sum(x,y):
    print(x+y)

def main():
    sum(20,4)
    print("print sum")

In [3]:
if __name__=="__main__":
    main()

24
print sum

In [9]:
class car:
    year=2001
    mpg=30
    speed=110
    
    def accelerate(self):
        return car.speed+20
    
    def brake(self):
        return car.speed-50
    
car1=car()
car1.accelerate()

130

In [10]:
car1.brake()

60

In [11]:
car1.speed

110

In [12]:
car1.mpg

30

In [13]:
car1.year

2001

In [15]:
class myclass:
    k=126
    d=6.7
    def test(self):
        print("This is first class")

def main():
    cl=myclass()
    print(cl.k)
    print(cl.d)
    cl.test()
    
if __name__=="__main__":
    main()

126
6.7
This is first class

In [17]:
class task:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age

t1=task("lok",27)
print(t1.name)
print(t1.age)

lok
27

In [19]:
class employee():
    
    def __init__(self,name,city):
        self.name=name
        self.city=city
        
    def display(self):
        print(self.name,self.city)
e1=employee("lok","ujjain")
e2=employee("sis","indore")
e1.display()
e2.display()

lok ujjain
sis indore

In [6]:
class company:
    revenue=80000
    
    def __init__(self,name,location,employee):
        self.name=name
        self.location=location
        self.employee=employee
com=company("lok","india",80)
print(com.name)
print(com.location)
print(com.employee)
company.revenue
com.revenue

lok
india
80

80000

In [7]:
class car:
    
    def __init__(self,company,color):
        self.company=company
        self.color=color
        
    def display(self):
        print(self.company,self.color)

def main():
    c=car("Honda","Red")
    c.display()
if __name__=="__main__":
    main()

Honda Red

In [15]:
class employee:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def data(self,name,age):
        self.name=name
        self.age=age
        
    def display(self):
        print(self.name,self.age)
        
    
def main():
    e=employee("lok",15)
    e.display()
        
    e.data("ravi",33)
    e.display()

if __name__=="__main__":
    main()

lok 15
ravi 33

In [19]:
class player:
    def __init__(self,name,age,sport):
        self.name=name
        self.age=age
        self.sport=sport
    
    def getdata(self,name,age,sport):
        self.name=name
        self.age=age
        self.sport=sport
    
    def display(self):
        print(self.name,self.age,self.sport)
        

def main():
    pl=player("lok",30,"cricket")
    pl.display()
    
    pl.getdata("Ravi",35,"football")
    pl.display()
    
if __name__=="__main__":
    main()

lok 30 cricket
Ravi 35 football

In [20]:
#Module
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
#system path
import sys
sys.path

['',
 'C:\\Users\\priyanka',
 'C:\\Python 2\\python37.zip',
 'C:\\Python 2\\DLLs',
 'C:\\Python 2\\lib',
 'C:\\Python 2',
 'C:\\Python 2\\lib\\site-packages',
 'C:\\Python 2\\lib\\site-packages\\win32',
 'C:\\Python 2\\lib\\site-packages\\win32\\lib',
 'C:\\Python 2\\lib\\site-packages\\Pythonwin',
 'C:\\Python 2\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\priyanka\\.ipython']

In [24]:
#current directory

import os
os.getcwd()

'C:\\Users\\priyanka'

In [25]:
#changing directory
#os.chd("C:\Users")
os.listdir()

['.anaconda',
 '.android',
 '.bash_history',
 '.cassandra',
 '.conda',
 '.condarc',
 '.config',
 '.dbshell',
 '.git',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.mongorc.js',
 '.nbi',
 '.netbeans-derby',
 '.oracle_jre_usage',
 '.pylint.d',
 '.spyder-py3',
 '.VirtualBox',
 '.vscode',
 '18MCS0068.ipynb',
 '18MCS0068_KNN.ipynb',
 '18MCS0068_Perceptron&SVM.ipynb',
 '18mcs0068_priyanka.ipynb',
 '3D Objects',
 'Adaboost.ipynb',
 'ADANIPORTS.csv',
 'AppData',
 'Application Data',
 'ASIANPAINT.csv',
 'automobile.csv',
 'capitalvia',
 'CapitalviaT1.ipynb',
 'CNN youtube lec.ipynb',
 'Contacts',
 'Cookies',
 'Data Analysis with python.ipynb',
 'Data Trained class 2 -Python Datastructure.ipynb',
 'Data Trained class 3-Python.ipynb',
 'Data Visualization with python.ipynb',
 'Datatrained 20dec2020.ipynb',
 'Datatrained class 19dec2020.ipynb',
 'Datatrained live class 16th  n 17th Jan.ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'DSproject',
 'empl.csv',
 'Favorites',
 'HP',
 'hrdata.csv',
 'hrdata_modified.csv',
 'INFY.NS.csv',
 'IntelGraphicsProfiles',
 'java',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'mifty50_joined_adjclose',
 'ML',
 'Music',
 'My Documents',
 'mymail.txt',
 'NetHood',
 'nift50tickers.pickle',
 'Nifty50_Autoupdate.ipynb',
 'nifty50_joined_adjclose',
 'nse50.csv',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{5e8535a4-7a4d-11ea-a0e4-005056c00008}.TM.blf',
 'NTUSER.DAT{5e8535a4-7a4d-11ea-a0e4-005056c00008}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{5e8535a4-7a4d-11ea-a0e4-005056c00008}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'package-lock.json',
 'personal_domain',
 'Pictures',
 'Practice datatrained 1.ipynb',
 'practise.ipynb',
 'PrintHood',
 'priyanka.txt',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'stock7.csv',
 'Stock_Algo_Backtest.ipynb',
 'stock_dfs',
 't2 capitalvia.ipynb',
 'TCS',
 'TCS.csv',
 'Templates',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled31.ipynb',
 'Untitled33.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'VirtualBox VMs',
 'Visualization using area plot, histogram and bar chart.ipynb',
 'Visualization using line plot.ipynb',
 'Visualization using pie chart, box plot, scatter plot and bubble plot.ipynb']

In [26]:
import math

In [27]:
math.pi

3.141592653589793

In [28]:
math.sqrt(10)

3.1622776601683795

In [29]:
math.pow(2,3)

8.0

In [30]:
import math as m
m.pi

3.141592653589793

In [32]:
m.pow(3,2)

9.0

In [33]:
m.sqrt(16)

4.0

In [34]:
from math import pi
pi

3.141592653589793

In [36]:
from math import sqrt
sqrt(36)

6.0

In [5]:
import sys
sys.path

['',
 'C:\\Users\\priyanka',
 'C:\\Python 2\\python37.zip',
 'C:\\Python 2\\DLLs',
 'C:\\Python 2\\lib',
 'C:\\Python 2',
 'C:\\Python 2\\lib\\site-packages',
 'C:\\Python 2\\lib\\site-packages\\win32',
 'C:\\Python 2\\lib\\site-packages\\win32\\lib',
 'C:\\Python 2\\lib\\site-packages\\Pythonwin',
 'C:\\Python 2\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\priyanka\\.ipython']

In [6]:
sf=open("C:\\Users\\priyanka\\lok.txt","w")

In [7]:
sf.write("first line")

10

In [8]:
sf.close()

In [9]:
kt=open("C:\\Users\\priyanka\\lok.txt","r")
kt.read()

'first line'

In [10]:
kt.close()

In [11]:
app=open("C:\\Users\\priyanka\\lok.txt","a")
app.write("second line")
app.close()

In [12]:
rt=open("C:\\Users\\priyanka\\lok.txt","r")
rt.read()

'first linesecond line'

In [13]:
rt.close()

In [15]:
import pickle

In [19]:
dict1={1:"lok",2:"sin",3:"sis",4:"diya"}
filename="info"
sav=open(filename,"wb")
pickle.dump(dict1,sav)
sav.close()

In [18]:
infile=open(filename,"rb")
datar=pickle.load(infile)
infile.close()

In [20]:
print(datar)

{1: 'lok', 2: 'sin', 3: 'sis', 4: 'diya'}

In [23]:
import pickle
data1={1:"a",2:"b"}
file1="alpha"
filedata=open(file1,"wb")
pickle.dump(data1,filedata)
filedata.close()

In [25]:
file2=open(file1,"rb")
data2=pickle.load(file2)
file2.close()
print(data2)

{1: 'a', 2: 'b'}

In [31]:
import pickle
dict3={3:"kon",4:"company"}
comdata="companys"
fileop=open(comdata,"wb")
pickle.dump(dict3,fileop)
fileop.close()

cdata=open(comdata,"rb")
data7=pickle.load(cdata)
cdata.close()
print(data7)

{3: 'kon', 4: 'company'}

In [32]:
import pickle
animal={1:"aa",2:"bb"}
afile="animaldetail"
ahand=open(afile,"wb")
pickle.dump(animal,ahand)
ahand.close()

reanima=open(afile,"rb")
adata=pickle.load(reanima)
reanima.close()
print(adata)

{1: 'aa', 2: 'bb'}

In [34]:
import pickle
bike={1:"aaa",2:"bbb"}

bfile="bikedetail"
bhand=open(bfile,"wb")
pickle.dump(bike,bhand)
bhand.close()

rebhand=open(bfile,"rb")
biked=pickle.load(rebhand)
rebhand.close()

print(biked)

{1: 'aaa', 2: 'bbb'}